@use"base/variables.scss" as v;
@use "base/functions.scss" as f;

.aboutMePhoto{  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
     .photo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        width: 70%;
        position: relative;
        .position{
            position: absolute;
            top:35%;
            left: -20%;
            z-index: 2;
            color: v.$white;
            div{
                font-size: v.$text-base;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            
        }
        .aboutTitle{
            position: absolute;
            top:70%;
            left: 60%;
            width: 200px;
            z-index: 2;
            background: linear-gradient(90deg,  #FAACAC 0%, #F7f26d  51%, #FAACAC  100%);
            -webkit-background-clip: text;
            color: transparent;
            font-family: "Mea Culpa", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 72px;
    
        }
        .background{
            border-radius: 50% 50% 20px 20px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 110%;
            height: 100%;
            background-color:#9A7D7D;
            
        }
        img{
            width: 100%;
            border-radius: 40% 40% 20px 20px;
        }
    }
}
.aboutMe{
    color: v.$pc;
    align-items: start;
    justify-content: center;
    margin: 40px auto;
    padding: 80px 5%;
    background-color:#EDEDED11;
    ;
        .aboutUnderLine{
            position: relative;
            display: inline-block;
            font-size: v.$text-xl;
            margin-bottom:25px;
        }
        .aboutUnderLine::after {
            content: '';
            position: absolute;
            bottom: -10px; /* 調整下滑線的位置 */
            left: 0;
            width: 20%; /* 下滑線覆蓋1/3文字 */
            height: 4px; /* 下滑線的厚度 */
            background-color:v.$pink; /* 下滑線的顏色 */
        }

        p{
            margin: 20px auto;
            line-height: 180%;
            color: v.$gray;
            width: 100%;
        }
}

//-----------------------------------//
//         Skill card                //
//-----------------------------------//

.skill{
    position: relative;
    h2{
        margin-top: 50px;
        font-size: v.$text-xl;
        color: v.$white;
        text-align: center;
    }
}

.skill-all{
    display: none;
    margin: auto;
    width: 90%;
    
    .skillCard{
    max-width:180px;
    height: 200px;
    border-radius: 20%;
    padding: 10% 5%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
    .iconC {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$pc;  
        overflow: hidden;
        transition: transform 0.3s ease-in-out;; 
        
        img{
             width: 110%;
        }
    }

    p{
        margin-top: 20px;
        color: v.$pc;
        font-size: 10px;
    }
}

 .skillCard:hover .iconC{
    transform: scale(1.1);  
}
}

//-----------------------------------//
//             Slides                //
//-----------------------------------//

.skill {
    margin: 40px 0;
    position: relative;
    .filter{
        max-width: 300px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button{
            background-color: transparent;
            border: 0.5px solid #979A9B;
            border-radius: 20px;
            color: #979A9B;
            padding: 5px 20px;
            width: 90px;
            margin: 10px;
            transition: all 0.3s ease;
        }
        button.active {
            border-color: v.$pink;
            color: v.$pink;
        }

    }
    .vertical-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .vertical-dots .dots {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 4px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .vertical-dots .dots.enable {
        background-color: v.$pink;
    }

    /* Additional CSS to handle visibility of slides */
    .skill-all {
        display: none;
    }

    .skill-all.active {
        display: block;
    }
}
//-----------------------------------//
//          Experience               //
//-----------------------------------//
.experience{
    width:100%;
    margin: 60px 0;
    padding: 60px 4dvb;
    height: 700px;
    align-items: center;
    background-color:#EDEDED11;
    h2{
        text-align: center;
        color: v.$white;
        width: 100%;
    }
    h1{
        color: #979A9B;
        font-size: v.$text-lg;
    }
    .experienceTitle{
        padding: 20px 0;
        color: v.$white;
        font-size: v.$text-md;
        div{
            color: v.$pink;
    }
    }
    .experienceImg{
        position: relative;
        align-items: center;
        width: 100%;
        img{
            width: 90%;
        } 
      
    }


.timeTop{
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    width: 80% ;
    .timeLine{
        
        width: 100%;
        i {
        color: v.$white;
        }
    
     .T1999, .T2018 {
        padding: 15px;
        margin-bottom: -20px;
    }
    h1{
        font-size: v.$text-md;
    }
   
    p{
        font-size: 10px;
        padding: 15px;
        line-height: 120%;
        span{
            font-size: 12px;
        }
    }
    }
   
}
.timeBottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
   .T2003,  .T2023{
        padding: 10px;
        h1{
            font-size: v.$text-md;
        }
       
        p{
            font-size: 10px;
            padding: 10px 0px;
            line-height: 120%;
            span{
                font-size: 12px;
            }
        }
    } 
}
      
    
}


//-----------------------------------//
//        Testimonials               //
//-----------------------------------//

.Testimonials {
    width: 100%;
    margin: 60px 0;
    padding: 60px 0;
    h2 {
        text-align: center;
        color: white;
        width: 100%;
    }
    .btnclass {
        margin: 20px auto;
        .nav-btn {
            border-radius: 50%;
            border: 1px solid v.$pink;
            background-color: transparent;
            color: v.$pink;
            cursor: pointer;
            padding: 18px 20px;
            font-size: 16px;
            margin: 0 0.5rem;
            transition: background-color 0.3s, color 0.3s;

            &:hover,
            &.active {
                background-color: v.$pink;
                color: white;
            }
        }
    }

    .testimonials-container {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        .testimonial-card {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 40px 20px;
            background-color: #9A7D7D88;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
            }
            .testimonial-top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .imgC {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                img {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }
            h4 {
                margin: 0.5em 0 0.2em 0;
                font-size: 16px;
                color: white;
            }
            p {
                margin: 10px 5px;
                font-size: 14px;
                color: #ddd;
                text-align: start;
            }
        }
    }
}



//-----------------------------------//
//             media                 //
//-----------------------------------//

@media screen and (min-width: 560px) {
    .aboutMePhoto {
        .photo {
            width: 60%;

            .position {
                top: 35%;
                left: -20%;
                div {
                    font-size: v.$text-sm;
                }
            }

            .aboutTitle {
                top: 70%;
                left: 70%;
                width: 200px;
                font-size: 72px;
            }
        }
    }

    .experience {
        h2 {
            font-size: v.$text-lg;
        }

        h1 {
            font-size: v.$text-xl;
        }

        .experienceTitle {
            font-size: v.$text-xl;
        }
    }

    .timeTop {
        width: 70%;

        .timeLine {
            .T1999, .T2018 {
                padding: 15px;
                margin-bottom: -20px;
            }

            h1 {
                font-size: v.$text-xxl;
            }

            p {
                font-size: 12px;
                padding: 15px;
                span {
                    font-size: v.$text-base;
                }
            }
        }
    }

    .timeBottom {
        .T2003, .T2023 {
            padding: 10px;

            h1 {
                font-size: v.$text-xxl;
            }

            p {
                font-size: 12px;
                padding: 10px 0;
                span {
                    font-size: v.$text-base;
                }
            }
        }
    }

    .Testimonials {
        .testimonials-container {
        .testimonial-card {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
    }
    }

    
}

@media screen and (min-width: 720px) {
    .aboutMePhoto {
        .photo {
            width: 60%;

            .position {
                top: 40%;
                left: -20%;
                div {
                    font-size: v.$text-sm;
                }
            }

            .aboutTitle {
                top: 80%;
                left: 75%;
                width: 350px;
                font-size: 80px;
            }
        }
    }

    .skill-all {
        .skillCard {
            .iconC {
                width: 60px;
                height: 60px;
            }

            p {
                font-size: v.$text-base;
            }
        }
    }

    .skill {
        .filter {
            max-width: 500px;
        }

        .filter button {
            padding: 10px 20px;
            width: 150px;
        }

        .vertical-dots {
            position: absolute;
            left: 0;
            top: 70%;
            transform: translateY(-50%);
            flex-direction: column;

            .dots {
                margin: 4px 0;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .aboutMePhoto {
        .photo {
            width: 40%;

            .position {
                top: 35%;
                left: -20%;
                div {
                    font-size: v.$text-md;
                }
            }

            .aboutTitle {
                top: 70%;
                left: 85%;
                width: 350px;
                font-size: 96px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .aboutMePhoto {
        .photo {
            width: 40%;

            .position {
                top: 35%;
                left: -20%;
                div {
                    font-size: v.$text-lg;
                }
            }

            .aboutTitle {
                top: 70%;
                left: 85%;
                width: 350px;
                font-size: 120px;
            }
        }
    }
}
