@use"base/variables.scss" as v;
@use "base/functions.scss" as f;

 
.portfolioTitle{
    margin: 24px auto;
    margin-bottom: 350px;
    padding: 30px;
    width: 95%;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 60px 0 60px 0;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, #1b1b1b, #1b1b1b), linear-gradient(135deg, rgba(250, 172, 172, 0.5) 25%, rgba(0, 0, 0, 0) 100%);
    color: v.$pc;
    position: relative;
  
    p{
        margin:20px 10% 20px;
        line-height: 150%;
        text-align: left;
        color:v.$gray;
    }
    #lottie-animation{
        position: absolute;
        top:300px;
        left: 50%;
        transform: translate(-50%, 0);
        width:95%; 
        max-height:400px ;
    }
}

.filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;

    .filter-btn {
        background-color: transparent;
        border: 0.5px solid #979A9B;
        border-radius: 20px;
        color: #979A9B;
        padding: 10px 20px;
        width: 90px;
        margin: 10px;
        transition: all 0.3s ease;

        &:hover {
            border-color: v.$pink;
            color: v.$pink;
        }

        &.active {
            border-color: v.$pink;
            background-color: v.$pink;
            color:v.$white;
        }
    }
}

.allProject{
    
    .project{
        width: 95%;
        margin: 20px auto;
        background-color: v.$pink3;
        border-radius: 30px;
        border: 0.5px solid v.$pink5;

        .projectImg{        
            img{
                width: 100%;
            }
        }

        .projectInfo{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: start;
            gap: 10px;
            padding: 24px;
            

            p{
                color:v.$gray;
                line-height: 150%;
                width: 100%;
                font-size: 12px;
            }
            
        h5{
            color:v.$pc;
        }

                   
        .btn2 {
            background-image: linear-gradient(to right, #FAACAC 0%, #F7f26d  51%, #FAACAC  100%);
            padding: 5px 15px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: v.$white;            
            border-radius: 20px;
            border: 0 solid;
            display: block;
            width:80px;
            font-size: v.$text-base;
            text-decoration: none;
            
        }
    
        .btn2:hover {
            background-position: right center; /* change the direction of the change here */
            color:v.$black;
            text-decoration: none;
            transform: scale(1.1);
        }
            .projectCardBottom{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            }
            .toolC{
                display: flex;
                margin: 10px 0;
                justify-content: start;
                margin-right: auto;
            }
        
            .tool{
        
                background-color:#fff;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2.5px solid #0e0e0e;
                margin-right: -7px;
        
        
            
                img{
                    width: 110%;
                    height: auto;      
                }
            }
        }
    }  
 
}

@media (min-width: 480px) {
    .portfolioTitle{
        margin-bottom: 420px;
        #lottie-animation{
            top:225px;
            max-width:700px;
        }
    }  
  
}
@media (min-width: 560px) {
    .portfolioTitle{
        margin-bottom: 420px;
    }  
  
}
@media (min-width: 720px) {
    .portfolioTitle{
        #lottie-animation{
            top:80px;
            max-width:700px;
        }
        margin-bottom: 500px;
    }  
  
}
@media screen and (min-width:960px) {
    .portfolioTitle{
          #lottie-animation{
            position: absolute;
            transform: translate(0);
            top:-120px;
            right: 80px;
            max-width: 800px; 
            height: 800px;
          }
          margin-bottom: 100px;
    }
}